# Filter excel file
event codes: 32, 64, 128, 192 all represent a stimulus flashing on the screen<br>
event codes: 1 and 2 represent the response that the participant gives<br>
<br>
they are sequential so after each stimulus code (32, 64, 128, 192) there should be a response code (1,2) <br>
if there isn't then that is a missed trial and it needs to be deleted. Sometimes they press the button <br>
twice so there might be two response codes and the second one needs to be deleted. <br>
<br>
if the stimulus code is a 32 or 192, the response code should be a 2, which means they got the <br>
answer correct, if they put a 1 it's incorrect. and vice versa, so if it's a 64 or 128 the answer is a 1.<br>

In [77]:
import pandas as pd

In [78]:
events_df = pd.read_excel('./BG1.xlsx', index_col=0,)

In [79]:
events_df = events_df.reset_index()
events_df['label'] = ""
events_df

     Event code count  Event code type    time label
0                   1               32    5368
1                   2                2    5885
2                   3                2    6084
3                   4                2    6209
4                   5              128    6336
..                ...              ...     ...   ...
190               191                1  100148
191               192               32  100655
192               193                2  101194
193               194               64  101631
194               195                1  102472

[195 rows x 4 columns]

In [80]:
ec_type = 0
ec_type_old = 9
event = False
repeat = False
type = ""

# we loop and set up label
for i, row in events_df.iterrows():
    event_code_type = row['Event code type']
    if event_code_type == 32 or event_code_type == 128 or event_code_type == 64 or event_code_type == 192:
       if row['Event code type'] == 32 or row['Event code type'] == 192:
         type = 'A'
       elif row['Event code type'] == 64 or row['Event code type'] == 128:
         type = 'B'
       event = True
       repeat = False
    else:
       if event == True:
          if repeat == False:
             repeat = True

             if type == 'A' and row['Event code type'] == 2:
                k = 'OK'
             if type == 'A' and row['Event code type'] == 1:
                k = 'KO'
             if type == 'B' and row['Event code type'] == 1:
                k = 'OK'
             if type == 'B' and row['Event code type'] == 2:
                k = 'KO'

             events_df.at[i, 'label'] = k
          else:
             events_df.at[i, 'label'] = 99

In [81]:
# filter 99
events_df = events_df[events_df['label'] != 99]

In [82]:
events_df.to_excel("BG1_filtered.xlsx")